# Application
APP_NAME=Bisdom
APP_VERSION=1.0.0
DEBUG=true
SECRET_KEY=your_secret_here
ACCESS_TOKEN_EXPIRE_MINUTES=10080

DATABASE_URL=your_secret_here
SYNC_DATABASE_URL=your_secret_here

# AWS Bedrock
AWS_BEARER_TOKEN_BEDROCK=your_secret_here
BEDROCK_MODEL_ID=qyour_secret_here
BEDROCK_API_BASE=your_secret_here

# GST API
GST_API_KEY=your_secret_here
GST_API_BASE_URL=your_secret_here

# OTP (static for development)
STATIC_OTP=123456
OTP_EXPIRE_MINUTES=10

# CORS
ALLOWED_ORIGINS =your_secret_here
